/*style for login page*/

#login-page {
  background-image: url("../images/nbc-lesbiantinder-v2_f3f76d6241995d63c649366f0a6da8fc.fit-760w.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.9; */
  background-color: black;
}

header h1 {
  font-size: 60px;
}

header button {
  height: 50px;
}

/*style for sign-up page*/

#signup-page {
  background-image: url("../images/nbc-lesbiantinder-v2_f3f76d6241995d63c649366f0a6da8fc.fit-760w.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.9; */
  background-color: black;
}


/*style for cuddlebuddy page*/
#cuddlebuddy-page {

  background-image: url("../images/nbc-lesbiantinder-v2_f3f76d6241995d63c649366f0a6da8fc.fit-760w.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.9; */
  background-color: black;

}
