#login-page {
  background-image: url("../images/couple\,\ silhouettes\,\ hugs.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.9; */
  background-color: black;
}

header h1 {
  font-size: 60px;
}

header button {
  height: 50px;
}

#signup-page {
  background-image: url("../images/couple\,\ silhouettes\,\ hugs.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.9; */
  background-color: black;
}

.card{
  color: aqua
}


