#login-page {
  background-image: url("../images/nbc-lesbiantinder-v2_f3f76d6241995d63c649366f0a6da8fc.fit-760w.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.9; */
  background-color: black;
}

header h1 {
  font-size: 60px;
}

header button {
  height: 50px;
}

#signup-page {
  background-image: url("../images/nbc-lesbiantinder-v2_f3f76d6241995d63c649366f0a6da8fc.fit-760w.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.9; */
  background-color: black;
}

#signup{
  border-radius: 10px;
  background-image: linear-gradient(rgb(252, 146, 76), rgb(255, 230, 0));
  border: none;
}

.container .card{
  background-image: linear-gradient(rgb(218, 99, 20), rgba(6, 53, 153, 0.973));
  border: none;
  border-radius: 10px;
}